@model NewProjectViewModel

@{
    ViewData["Title"] = "Home";
}
<div class="fixer">
    <div class="main-container">
        <h1 class="text-center">Ballong AB</h1>


        <div class="card m-5 p-2">
            <div class="grid-header">
                <h4 class="text-center">Welcome @Model.Designers.FirstOrDefault(u => u.Id == 1).Name</h4>
                <h5 class="text-center">@Model.Projects.FirstOrDefault(p => p.User.Name == "Nandan").Name</h5>
                <h6 class="text-center">Add material</h6>
                <form action="submit" method="post">
                    <div class="input-container">
                        <div class="inputs">
                            <input class="text-center" type="text" placeholder="Material Name" tabindex="0">
                            <input class="text-center" type="number" placeholder="Material Price" tabindex="0">
                            <input class="text-center" type="number" placeholder="Material Amount" tabindex="0">
                            <input class="text-center" type="text" placeholder="Material Details" tabindex="0">
                        </div>
                        <div class="btn-container d-flex ">
                            <div class="btn" tabindex="0">Add</div>

                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="total"></div>
    </div>
</div>