@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}
<div class="fixer">
    <div class="main-container">
        <h1 class="text-center">Ballong AB</h1>


        <div class="card m-5 p-2">
            <div class="grid-header">
                <h4 class="text-center">Procurement Portal</h4>
                <h5 class="text-center">User Login</h5>
                <div class="input-container">
                    <div class="inputs">
                        <input class="text-center " type="text" placeholder="Enter username" tabindex="0">
                        <input class="text-center" type="password" placeholder="Enter password" tabindex="0">
                    </div>
                    <div class="btn-container d-flex ">
                        <div class="btn" tabindex="0">Login</div>
                        <div class="btn" tabindex="0">Register</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="total">Login to view or edit orders</div>
    </div>
</div>